body {
    background-color: #e4e4e4
}

button{
    width: 18%
}

.app{
    width: 60%;
    margin-left: 20%;
}

.timeline {
    background-color: #e4e4e4
}

#input{
    width:80%;
    display: inline-block;
    margin-right:1%
}

.name {
    display: inline-block;
    margin-right:20px;
    font-family: arial;
}

.image{
    width:100%
}

.twit .name {
    color: #17a2b8;
}

.twit-margin{
    margin-top:1%
}

.mistake .name{
    color: darkred;
}

.date {
    color: #cccccc;
    font-size: small;
}

.text{
    margin-top: 12px;
}
